<div class="page-title-holder">
  <div class="page-title">
    <h1>Uh oh, this didn't work</h1>
  </div>
</div>

<div class="material-card-holder">
  <mat-card class="material-card">
    <mat-card-header>
      <mat-card-title>Error 404 - Page not found!</mat-card-title>
    </mat-card-header>
    <mat-divider class="material-card-devider"></mat-divider>
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <p>
        We are sorry but the page you are trying to access doesn't exist. You
        will be redirected in {{ redirectTimer$ | async }} seconds.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Temporary</button>
      <button mat-button>Buttons</button>
    </mat-card-actions>
  </mat-card>
</div>
