<div class="page-title-holder">
  <div class="page-title">
    <h1>Welcome Page</h1>
  </div>
</div>

<div class="material-card-holder">
  <mat-card class="material-card">
    <mat-card-header>
      <mat-card-title>Skin Cancer detection</mat-card-title>
    </mat-card-header>
    <mat-divider class="material-card-devider"></mat-divider>
    <mat-card-content>
      <p>
        This web aplication was designed as a tool that can help with the
        detection of potentialy dangerous birthmarks.
        <br />
        <br />
        In no way does this application take on the role of a trained specialist
        and you should always ask your doctor about potential problems affecting
        your skin.
      </p>
    </mat-card-content>
    <div class="material-card-actions-holder">
      <mat-card-actions>
        <a [routerLink]="['/detection']" routerLinkActive="router-link-active">
          <button mat-raised-button color="primary">Continue</button>
        </a>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
