<mat-toolbar color="primary">
  <span
    [routerLink]="['/']"
    routerLinkActive="router-link-active"
    style="cursor: pointer"
    >MySkin</span
  >
  <span class="nav-bar-spacer"></span>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      [routerLink]="['/detection']"
      routerLinkActive="router-link-active"
    >
      <mat-icon>graphic_eq</mat-icon>
      <span>Birthmark Detection</span>
    </button>
    <button
      mat-menu-item
      [routerLink]="['/history']"
      routerLinkActive="router-link-active"
    >
      <mat-icon>history</mat-icon>
      <span>Detection History</span>
    </button>
  </mat-menu>
</mat-toolbar>
