<div class="material-card-holder">
  <mat-card class="material-card">
    <mat-card-header>
      <mat-card-title>Image Upload</mat-card-title>
      <mat-card-subtitle
        >Upload an image of your Birthmark to get a
        prediction</mat-card-subtitle
      >
    </mat-card-header>
    <mat-divider class="material-card-devider"></mat-divider>
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <p>TODO</p>
    </mat-card-content>
    <div class="material-card-actions-holder">
      <mat-card-actions>
        <button mat-raised-button color="primary">Upload</button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
