<div class="material-card-holder">
  <mat-card class="material-card">
    <mat-card-header>
      <mat-card-title>Image Upload</mat-card-title>
      <mat-card-subtitle
        >Upload an image of your Birthmark to get a
        prediction</mat-card-subtitle
      >
    </mat-card-header>
    <mat-divider class="material-card-devider"></mat-divider>
    <mat-card-content>
      <div class="dropzone-holder">
        <ngx-dropzone
          (change)="onSelect($event)"
          [multiple]="false"
          accept="image/jpeg, image/jpg"
        >
          <ngx-dropzone-label>Drop your image here</ngx-dropzone-label>
          <ngx-dropzone-image-preview
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of files"
            [file]="f"
          >
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>
    </mat-card-content>
    <div class="material-card-actions-holder">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="uploadPhoto()">
          Upload
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>
