<div class="material-card-holder">
  <mat-card class="material-card">
    <mat-card-header>
      <mat-card-title>Image Upload</mat-card-title>
      <mat-card-subtitle
        >Upload an image of your Birthmark to get a
        prediction</mat-card-subtitle
      >
    </mat-card-header>
    <mat-divider class="material-card-devider"></mat-divider>
    <mat-card-content>
      <div class="dropzone-holder">
        <input type="file" (change)="fileChangeEvent($event)" />
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [maintainAspectRatio]="true"
          [aspectRatio]="1 / 1"
          format="jpeg"
          (imageCropped)="imageCropped($event)"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
        ></image-cropper>
      </div>
    </mat-card-content>
    <div class="material-card-actions-holder">
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="uploadPhoto()">
          Upload
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>

<div class="material-card-holder">
  <mat-card class="material-card">
    <mat-card-header>
      <mat-card-title>Image Preview</mat-card-title>
    </mat-card-header>
    <mat-divider class="material-card-devider"></mat-divider>
    <mat-card-content>
      <div class="dropzone-image" *ngIf="croppedImage != ''">
        <img src="{{ croppedImage }}" />
      </div>
    </mat-card-content>
  </mat-card>
</div>
