@use "@angular/material" as mat;
@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.page-title-holder {
  display: flex;
  justify-content: left;
}

.page-title {
  margin-left: 10%;
}

.page-title h1 {
  letter-spacing: 0.2rem;
  margin: 1rem 0rem 1rem 0rem;
}

mat-card-header {
  margin-bottom: 0.8rem;
}

.material-card-holder {
  display: flex;
  justify-content: center;
  margin: 0 0 1rem 0;
}

.material-card {
  width: 80%;
  padding-bottom: 0.2rem;
}

.material-card-actions-holder {
  padding: 0.3rem 0 0 0.5rem;
}

.material-card-devider-holder {
  margin-top: 0.4em;
}

a:link {
  text-decoration: none !important;
}

a:visited {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

a:active {
  text-decoration: none !important;
}

@media (max-width: 420px) {
  .material-card {
    width: 95%;
  }

  .page-title {
    margin-left: 2.5%;
  }

  .page-title h1 {
    letter-spacing: 0.2rem;
    margin: 1rem 0rem 1rem 0rem;
    font-size: x-large;
  }
}
